.heading h2{
    display: inline;
    
}

.heading button{
    float: right;
}

.heading{
    text-align: left;
    width: 100%;
    padding:15px;

}

#big_mario{
    width: 100%;
}

#game_console{
    background-image: url("game_console.png");
    background-size:cover ;
    background-position:center ;
    width: 900px;
    padding: 25px;
   /* height: 400px; */
}

.instruction_img{
    width:40%;
}


